html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  background: #265A67;
  font-size: 18px;
}

.main-section {
    background: #F7F2E4;
    padding: 60px 40px;
}

#navbar {
    padding: 10px;
}

.container .jumbotron {
    background: #407F80;
    background: linear-gradient(#488187, #68B0B4);
    background: -webkit-linear-gradient(#488187, #68B0B4);
    background: -o-linear-gradient(#488187, #68B0B4);
    background: -moz-linear-gradient(#488187, #68B0B4);
    border-radius: 2px;
    width: 100%;
    margin-bottom: 0;

}

.jumbotron h1 {
	font-size: 5em;
    text-transform: uppercase;
    color: #F4F4E5;
    letter-spacing: .05em;
    margin: 0;
}

.jumbotron h2 {
	color: #E9BC61;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 0 0 0 40%;
    margin-top: 0;
}

#navbar {
	background: #E9BC61;
    background: linear-gradient(#DEBB5D, #E9BC61);
    background: -webkit-linear-gradient(#DEBB5D, #E9BC61);
    background: -o-linear-gradient(#DEBB5D, #E9BC61);
    background: -moz-linear-gradient(#DEBB5D, #E9BC61);
    margin: 0;

}

#navbar ul li a {
	font-size: 1.7em;
	text-transform: uppercase;
	color: #B79957;
    margin-right: 15px;
}

.navbar {
    border: none;
    margin-bottom: 35px;
}

ul li a {
	background: #E5BB6F;
    font-weight: 700;
}

.main article {
    float: right;
    width: 62%;
    background: #D8782D;
    background: linear-gradient(#D8782D, #CD762B);
    background: -webkit-linear-gradient(#D8782D, #CD762B);
    background: -o-linear-gradient(#D8782D, #CD762B);
    background: -moz-linear-gradient(#D8782D, #CD762B);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.main article header h1 {
    color: #EDE3B8;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0;
    margin-top: 0;
}

.main article p {
    padding: 30px 15px 0 15px;
}

.main aside {
    float: left;
    width: 35%;
    background: #EDE3B8;
    padding: 15px;
    border: 5px solid #D6762C;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

aside h2 {
    color: #A86421;
    font-size: 2.5em;
    font-family: 'Aguafina Script', cursive;
    line-height: 1.3em;
    letter-spacing: .02em;
    font-weight: 500;
}

.footer-container {
    background: #E9BA68;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}




